streamlit==1.39.0
pandas==2.2.2
numpy==1.26.4

faster-whisper==1.0.3
ctranslate2==4.6.0
onnxruntime==1.17.3

huggingface-hub>=0.22,<0.25
tokenizers==0.13.3
ffmpeg-python
typing_extensions
setuptools
wheel
